<div class="card" style="width: 18rem;">
  <img src="<%= recipe.image%>" class="card-img-top" alt="image">
  <div class="card-body">
    <h5 class="card-title"><%= recipe.title %></h5>
    <p class="card-text">
      <ol>
        <% recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient %></li>
        <% end %>
      </ol>
    </p>
  </div>
  <div class="card-footer">
    <span class="badge text-bg-secondary"><%= recipe.category %></span>
  </div>
</div>